body {
      font-family: "LXGW WenKai", sans-serif;
      /* Lite version */
      /* font-family: "LXGW WenKai Lite", sans-serif; */
      /* TC version */
      /* font-family: "LXGW WenKai TC", sans-serif; */
      /* Screen version */
      /* font-family: "LXGW WenKai Screen", sans-serif; */
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* 图片居中 */

.katex {
  font-size: 1.25em;
  text-indent: 0;
  text-rendering: auto;
}

/* 表格居中 */
table {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

/* 提示框内的字体大小 */
.md-typeset .admonition{
  font-size: 1em;
}

.katex-display {
  margin-top: 6px;
  margin-bottom: 6px;
}

:root {
    --md-text-font: "LXGW Wenkai";
}
